/* Define fonts and styles for Japanese support */
:root {
  --font-japanese: "Yu Gothic", "Hiragino Sans", sans-serif;
}

/* General Japanese text styling */
.japanese {
  --font-text: var(--font-japanese);
  font-family: var(--font-japanese);
}

.japanese .cm-editor {
  --font-text: var(--font-japanese);
  font-family: var(--font-japanese);
}

/* Japanese flashcard view */
#sr-flashcard-view {
  font-family: var(--font-japanese);
  --font-monospace-default: "JetBrainsMono Nerd Font Mono", "SF Mono", monospace !important;
}

#sr-flashcard-view code {
  font-family: "JetBrainsMono Nerd Font Mono", "SF Mono", monospace !important;
}
